
div.m-siteExplanation {
	color: #999999 ;
	font-size: 12px ;
	line-height: 17px ;
	}

div.m-siteExplanation h4 {
	margin: 0px 0px 2px 0px ;
	}

div.m-siteExplanation p {
	margin: 0px 0px 0px 0px ;
	}

div.m-siteExplanation a {
	color: #999999 ;
	}