
form.m-taskList {
	font-size: 16px ;
	margin-bottom: 30px ;
	}

form.m-taskList ol.tasks {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	}

form.m-taskList li.task {
	background-color: #F0F0F0 ;
	border: 1px solid #CCCCCC ;
	margin: 0px 0px 10px 0px ;
	position: relative ;
	}

form.m-taskList li.task input.isComplete {
	position: absolute ;
	left: 6px ;
	top: 13px ;
	}

form.m-taskList li.task a.view {
	display: block ;
	height: 47px ;
	line-height: 47px ;
	margin-left: 35px ;
	overflow: hidden ;
	padding-right: 45px ;
	position: relative ;
	text-decoration: none ;
	}

form.m-taskList li.task span.description {
	display: block ;
	overflow: hidden ;
	text-overflow: ellipsis ;
	white-space: nowrap ;
	}

form.m-taskList li.task span.arrow {
	background-color: #FFFFFF ;
	border-radius: 12.5px 12.5px 12.5px 12.5px ;
	font-size: 18px ;
	font-weight: bold ;
	height: 25px ;
	line-height: 25px ;
	position: absolute ;
	right: 11px ;
	text-align: center ;
	text-indent: 3px ;
	top: 11px ;
	width: 25px ;
	}